In [2]:
!pip install XlsxWriter
import requests
import pandas as pd

Requirement already satisfied: XlsxWriter in c:\users\felip\appdata\local\programs\python\python310\lib\site-packages (3.0.3)

ModuleNotFoundError: No module named 'requests'

In [ ]:
url = 'https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'}
site = requests.get(url, headers=headers)

dados = pd.read_html(site.text)

df = pd.DataFrame(dados[0])

df

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
0,1,NaN,Palmeiras >>,NaN,81,38,23,12,3,66,27,39,71
1,2,NaN,Internacional >>,NaN,73,38,20,13,5,58,31,27,64
2,3,NaN,Fluminense >>,NaN,70,38,21,7,10,63,41,22,61
3,4,NaN,Corinthians >>,NaN,65,38,18,11,9,44,36,8,57
4,5,NaN,Flamengo >>,NaN,62,38,18,8,12,60,39,21,54
5,6,NaN,Athletico-PR >>,NaN,58,38,16,10,12,48,48,0,50
6,7,NaN,Atlético-MG >>,NaN,58,38,15,13,10,45,37,8,50
7,8,NaN,Fortaleza >>,Subiu2,55,38,15,10,13,46,39,7,48
8,9,NaN,São Paulo >>,Subiu2,54,38,13,15,10,55,42,13,47
9,10,NaN,América-MG >>,Desceu1,53,38,15,8,15,40,40,0,46
10,11,NaN,Botafogo >>,Desceu3,53,38,15,8,15,41,43,-2,46
11,12,NaN,Santos >>,NaN,47,38,12,11,15,44,41,3,41
12,13,NaN,Goiás >>,NaN,46,38,11,13,14,40,53,-13,40
13,14,NaN,Bragantino >>,NaN,44,38,11,11,16,49,59,-10,38
14,15,NaN,Coritiba >>,NaN,42,38,12,6,20,39,60,-21,36
15,16,NaN,Cuiabá >>,NaN,41,38,10,11,17,31,42,-11,35
16,17,NaN,Ceará >>,Subiu1,37,38,7,16,15,34,41,-7,32
17,18,NaN,Atlético Goianiense >>,Desceu1,36,38,8,12,18,39,57,-18,31
18,19,NaN,Avaí >>,NaN,35,38,9,8,21,34,60,-26,30
19,20,NaN,Juventude >>,NaN,22,38,3,13,22,29,69,-40,19

In [ ]:
df.drop(['Times', 'Times.1'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Times.2  20 non-null     object
 1   P        20 non-null     int64
 2   J        20 non-null     int64
 3   V        20 non-null     int64
 4   E        20 non-null     int64
 5   D        20 non-null     int64
 6   GP       20 non-null     int64
 7   GC       20 non-null     int64
 8   SG       20 non-null     int64
 9   %        20 non-null     int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB

In [ ]:
df

                   Times.2   P   J   V   E   D  GP  GC  SG   %
0             Palmeiras >>  81  38  23  12   3  66  27  39  71
1         Internacional >>  73  38  20  13   5  58  31  27  64
2            Fluminense >>  70  38  21   7  10  63  41  22  61
3           Corinthians >>  65  38  18  11   9  44  36   8  57
4              Flamengo >>  62  38  18   8  12  60  39  21  54
5          Athletico-PR >>  58  38  16  10  12  48  48   0  50
6           Atlético-MG >>  58  38  15  13  10  45  37   8  50
7             Fortaleza >>  55  38  15  10  13  46  39   7  48
8             São Paulo >>  54  38  13  15  10  55  42  13  47
9            América-MG >>  53  38  15   8  15  40  40   0  46
10             Botafogo >>  53  38  15   8  15  41  43  -2  46
11               Santos >>  47  38  12  11  15  44  41   3  41
12                Goiás >>  46  38  11  13  14  40  53 -13  40
13           Bragantino >>  44  38  11  11  16  49  59 -10  38
14             Coritiba >>  42  38  12   6  20  39  60 -21  36
15               Cuiabá >>  41  38  10  11  17  31  42 -11  35
16                Ceará >>  37  38   7  16  15  34  41  -7  32
17  Atlético Goianiense >>  36  38   8  12  18  39  57 -18  31
18                 Avaí >>  35  38   9   8  21  34  60 -26  30
19            Juventude >>  22  38   3  13  22  29  69 -40  19

In [ ]:
df.rename(columns={'Times.2': 'Times'}, inplace=True)
df

                     Times   P   J   V   E   D  GP  GC  SG   %
0             Palmeiras >>  81  38  23  12   3  66  27  39  71
1         Internacional >>  73  38  20  13   5  58  31  27  64
2            Fluminense >>  70  38  21   7  10  63  41  22  61
3           Corinthians >>  65  38  18  11   9  44  36   8  57
4              Flamengo >>  62  38  18   8  12  60  39  21  54
5          Athletico-PR >>  58  38  16  10  12  48  48   0  50
6           Atlético-MG >>  58  38  15  13  10  45  37   8  50
7             Fortaleza >>  55  38  15  10  13  46  39   7  48
8             São Paulo >>  54  38  13  15  10  55  42  13  47
9            América-MG >>  53  38  15   8  15  40  40   0  46
10             Botafogo >>  53  38  15   8  15  41  43  -2  46
11               Santos >>  47  38  12  11  15  44  41   3  41
12                Goiás >>  46  38  11  13  14  40  53 -13  40
13           Bragantino >>  44  38  11  11  16  49  59 -10  38
14             Coritiba >>  42  38  12   6  20  39  60 -21  36
15               Cuiabá >>  41  38  10  11  17  31  42 -11  35
16                Ceará >>  37  38   7  16  15  34  41  -7  32
17  Atlético Goianiense >>  36  38   8  12  18  39  57 -18  31
18                 Avaí >>  35  38   9   8  21  34  60 -26  30
19            Juventude >>  22  38   3  13  22  29  69 -40  19

In [ ]:
# Salvando em excel

excel = pd.ExcelWriter('BRASILEIRO 22.xlsx', engine='xlsxwriter')
df.to_excel(excel, sheet_name='BR22')
excel.save()